* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	
}

/* Style the header */
header {
	background-color: #666;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}

/* this is for the inut/output*/
nav {
	float: left;
	width: 10%;
	background: #ccc;
	padding: 20px;
}

/* this is for the inut/output*/
nav ul {
	list-style-type: none;
	display: inline-block;
	float: none;
	padding: 10px;
}

#input {
	display: block;
	/* float: left; */
}

#output {
	display: flex;
	float: left;
	width: 80%;
	/* height: 100; */
	/* float: right; */
}
#inputOption {
	float: left;
	font-weight: bold;
}

#outputOption {
	float: left;
}

#array1 {
	color: blue;
	font-weight: bold;
}

#array2 {
	color: blue;
	font-weight: bold;
}
/* Clear floats after the columns */
section:after {
	content: "";
	display: table;
	clear: both;
}
.tdOutput {
	white-space: nowrap;
	font-weight: bold;
}

/* Style the footer */
footer {
	background-color: #777;
	padding: 7px;
	text-align: center;
	color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 900px) {
	nav,
	article {
		width: 100%;
		height: auto;
	}
	#inputOption {
		float: left;
		padding-right: 10%;
	}

	#outputOption {
		float: left;
	}
	p {
		padding: 15px;
	}
}

#row-1 {
	background-color: rgba(153, 17, 17, 0.897);
	padding-left: 25%;

	/* padding-top: 60%; */
}
#row-2 {
	background-color: rgb(247, 140, 53);
}
#row-3 {
	background-color: rgb(255, 196, 0);
}
#row-4 {
	background-color: rgba(0, 247, 255, 0.836);
}
#row-5 {
	background-color: rgb(9, 4, 59);
}
#row-6 {
	background-color: rgb(104, 11, 158);
}
#row-7 {
	background-color: rgb(207, 19, 160);
}
#row-8 {
	background-color: rgb(14, 13, 11);
}
#headerDataCell {
	font-size: 70%;
	height: 3px;
}

#empty {
	background-color: white;
	border: 20px white;
}

table {
	/* border-collapse: collapse; */
	width: 90%;
	height: 100px;
	padding: 0;
}

td {
	border: 2px solid black;
	width: 33%;
	text-align: center;
	padding: 0px;
	color: white;
}

.tdOutput {
	border: none;
	width: 10%;
	text-align: center;
	padding: 0px;
	color: black;
}

select {
	background-color: rgba(255, 255, 255, 0.705);
	color: black;
	padding: 0px;
	bottom: 0px;
	height: 25px;
	text-align-last: center;
	position: relative;

	background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right
		#ddd;
	appearance: none;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	background-size: 10px;
	background-position-x: 99%;
}
img {
	float: left;
	width: 100;
	height: 100;
}
#bar-chart-horizontal_B {
	max-width:400;
	max-height:250;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}


/* CODE ABDE */
.container-input {
	margin: 40px 0;
	width: 400px;	
	height: 800px;
	padding: 25px 25px;
	background:rgb(52, 54, 56);
	/* border-radius: 10px; */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.45), 0 4px 8px rgba(0, 0, 0, 0.35), 0 8px 12px rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
}
.container-input h2.title {
	font-size: 1.75rem;
	margin: 10px -5px;
	margin-bottom: 30px;
	color: rgb(255, 255, 255);
	background:rgb(52, 54, 56);
}
.title{
	color: rgb(0, 0, 0);
	
}

.slider {
	-webkit-appearance: none;
	width: 260px;
	height: 5px;		
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.767);
	outline: none;
	padding: 0;
	margin: 15px;
	cursor: pointer;
}
	
.field-title {
	position: absolute;
	top: -22px;
	left: 8px;
	
	font-weight: 500;
	color: rgb(255, 248, 248);
	text-transform: uppercase;
	font-size: 1.2rem;
	pointer-events: none;
	user-select: none;
}

.range_slider {
	position: relative;
	width: 100%;
	height: calc(65px - 20px);
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 8px;
	margin: 30px 0;
}

.range_slider_value{
	
	
	margin: 0;
	top: 0px;
	left: -10px;
	font-weight: 500;
	
	font-size: 1.3rem;
	pointer-events: none;
	user-select: none;
	display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
   
    text-align: center;
    border-radius: 3px;
    background: #2c3e50;
    padding: 5px 10px;
    margin-left: 4px;

}
.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
}




a{
	margin: 0 20px;
	color: rgb(0, 0, 0);
	font-size: 2rem;
	transition: all 400ms ease;
}

a:hover{
	color: #222;
}

.btn.reset {
	user-select: none;
	position: relative;
	width: 50%;
	float: right;
	height: 50px;
	margin: 10px 0;
	border-radius: 8px;
	color: #fff;
	border: none;
	background-image: linear-gradient(135deg, #c83081 0%, #764ba2 100%);
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 150ms ease;
	justify-content: flex-end;
	font-size: 1.1em;
}
.btn.reset:active {
	transform: translateY(-6%);
	box-shadow: 0 4px 10px rgba(255, 255, 255, 0.288);
}
  
/* CODE ABDE */
